
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container{

    position: relative;
    width: 700px;  
    height: 500px;
    overflow: hidden;
    background-color: #E6E7E8;
    display: flex;
    box-shadow: 1px 1px 8px 1px #2f3031;
}

.container .image{

    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 45;
    left: 0;
    top: 0;

}

.container img{

    width: 100%;
    height: 100%;
    position: absolute;
}

 
.form-data{

    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s linear;
    transition-delay: 0.4s;
   

}

.form-data form{


    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
   
   
}

.social-media{

    width: 80%;
}

.social-media ul{

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;

}

.social-media ul li{

    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #c2c3c5;
   
   

}

.social-media ul li:hover {

    transition: 0.5s linear;
    border: 1px solid #263481;
  

}

.social-media ul li a{

    position: absolute;
    left: 50%;
    top: 50%;
    color: #c2c3c5;
    transform: translate(-50%,-50%);
}

.social-media ul li:hover a{

    color: #263481;
}

.box-input{
    
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}

.box-input input{
 
    
     width:100%;    
     background-color: #c2c3c5;
     outline: none;
     border: none;
     padding: 10px;
     padding-left:40px;
     border-radius: 25px;
  
     

}

.box-input label{

    position: absolute;
    left: 8px;
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
}




form button{

      border: none;
      background: #263481;
      padding: 10px 20px;
      outline: none;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 1px #2f3031;


}

@media(max-width:651px){

    .container{

        height: 450px;
    }

}

@media(max-width:590px){

    .container{

        height: 410px;
    }

}

@media(max-width:550px){

    .container{

        width: 60%;
    }
    .container .image{

        display: none;
      
        
    }



    .form-data{

        
        width: 100%;
        background-image:url(girl.jpg);
        background-size: cover;
        background-repeat: no-repeat;
   
        
    }

    h2{

        color: #E6E7E8;
    }

    p{

        color: #E6E7E8;
    }


}

@media(max-width:450px){


    .container{

        width: 80%;
    }
}


@media(max-width:350px){

    .container{

        width: 100%;
    }

}










